@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::page-transition-outgoing-image(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::page-transition-incoming-image(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::page-transition-outgoing-image(movie-poster),
::page-transition-incoming-image(movie-poster) {
  animation: none;
  mix-blend-mode: normal;
}

::page-transition-image-wrapper(movie-poster) {
  isolation: none;
}

.nav {
  page-transition-tag: main-header;
  contain: paint;
}

.movie-poster {
  page-transition-tag: movie-poster;
  contain: paint;
}

.movie-thumbnail {
  contain: paint;
}

.person-photo {
  page-transition-tag: person-photo;
  contain: paint;
}

.person-thumbnail {
  contain: paint;
}
