<div style="padding: 20px;">
  <p>
    I had to bring this demo down because it was getting hit by a lot of
    crawlers and bots for some reason.
  </p>
  <p>
    The source is still available on <a
      class="text-blue-500 underline"
      href="https://github.com/charca/astro-movies">GitHub</a
    > if you want to check it out.
  </p>
</div>
