---
import MovieCard from '../components/MovieCard.astro';
import Layout from '../layouts/Layout.astro';

const response = await fetch('https://api.themoviedb.org/3/movie/popular?api_key=' + import.meta.env.TMDB_API_KEY);
const data = await response.json();
const popularMovies = data.results;


---

<Layout title="Astro Movies">
	<div class="container mx-auto px-4 pt-16">
		<div class="popular-movies">
				<h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">Popular Movies</h2>
				<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
					{popularMovies.map(movie => (
						<MovieCard movie={movie} />
					))}
				</div>
		</div> <!-- end pouplar-movies -->

		<div class="now-playing-movies py-24">
				<h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">Now Playing</h2>
				<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
						<!-- @foreach ($nowPlayingMovies as $movie)
								<x-movie-card :movie="$movie" />
						@endforeach -->
				</div>
		</div> <!-- end now-playing-movies -->
	</div>
</Layout>
