<div class="container mx-auto px-4 py-16">
  <h1 class="text-5xl mt-4 md:mt-0 mb-6 font-semibold">About</h1>
  <div>
    <p>This site is a demo of an <a href="https://astro.build/" target="_blank">Astro</a> MPA using the <a href="https://developer.chrome.com/blog/shared-element-transitions-for-spas/" target="_blank">Shared Element Transition API</a>. You can read more about its implementation on <a href="https://www.maxiferreira.com/blog/astro-page-transitions/" target="_blank">the blog post</a>.</p>
  </div>
</div>

<style>
  a {
    color: rgb(249 115 22 / var(--tw-text-opacity));
    text-decoration: underline;
  }

  p {
    margin-bottom: 16px;
  }
</style>
