---
import TvShowCard from '../../../components/TvShowCard.astro';

const popularShowsResponse = await fetch('https://api.themoviedb.org/3/tv/popular?api_key=' + import.meta.env.TMDB_API_KEY);
const popularShowsData = await popularShowsResponse.json();
const popularShows = popularShowsData.results;

const topRatedResponse = await fetch('https://api.themoviedb.org/3/tv/top_rated?api_key=' + import.meta.env.TMDB_API_KEY);
const topRatedData = await topRatedResponse.json();
const topRated = topRatedData.results;
---

<div class="container mx-auto px-4 pt-16">
    <div class="popular-tv">
        <h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">Popular Shows</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
          {popularShows.map(show => (
              <TvShowCard show={show} />
          ))}
        </div>
    </div> <!-- end popular-tv -->

    <div class="top-rated-shows py-24">
        <h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">Top Rated Shows</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
          {topRated.map(show => (
              <TvShowCard show={show} />
          ))}
        </div>
    </div> <!-- end top-rated-shows -->
</div>
